<!--==========================
      Information de client 
    ============================-->

    <div class="cadregeneral" id="mobilecadre" style="margin-top:30px;">
        <section id="call-to-action" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3" id="row2">
                       <label style="
                       margin-top:10px;
                       font-weight: bold;">Réf MOE:
                       </label><input type="text" name="" class="eb-input">
                    </div>
                    <div class="col-md-3" id="row2">
                       <label style="
                       margin-top:10px;
                       font-weight: bold;">MOE nom société:
                       </label>
                          <input type="text" name="" class="eb-input" id="ipcmobile">
                    </div>
                    <div class="col-md-3" id="row2">
                      <label style="
                      margin-top:10px;
                      font-weight: bold;">Adresse:
                      </label>
                         <input type="text" name="" class="eb-input" style="width: 400px;" id="ipcmobile">
                   </div>
                </div>
              </div>
              
              <div class="container">
                <div class="row">
                  <div class="col-md-3" id="row2">
                      <label style="
                      margin-top:10px;
                      font-weight: bold;">Email:
                      </label><input type="text" name="" class="eb-input">
                   </div>
                    <div class="col-md-3" id="row2">
                       <label style="
                       margin-top:10px;
                       font-weight: bold;">Téléphone:
                       </label><input type="text" name="" class="eb-input">
                    </div>
                    <div class="col-md-3" id="row2">
                       <label style="
                       margin-top:10px;
                       font-weight: bold;">Date de contrat:
                       </label>
                          <input type="text" name="" class="eb-input" id="ipcmobile">
                    </div>
                    <div class="col-md-3" id="row2">
                      <label style="
                      margin-top:10px;
                      font-weight: bold;">CBIS:
                      </label>
                         <input type="text" name="" class="eb-input" id="ipcmobile" style="margin-right: 10px; width:220px;">
                   </div>
                </div>
              </div>
              </section>
      
          <!--Informations du client -->
      
          <!--==========================
           Type de prestation :
          ============================-->
      <section id="skills">
      <div class="container">
          <h1 style="
          margin-top:50px;
          color: black;
          font-weight: bold;
          padding-bottom: 0px;">
          Type de prestation</h1>
            <hr width="50px" 
            style="
            display: block; 
            height: 1px;border: 0;
            border-top: 10px solid #000645;
            margin: 0.5em 0;
            padding-bottom: 20px;"> 
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3" id="row2">
            <label style="
            margin-top:46px;
           
            font-weight: bold;">Modélisation+ NDC
            </label>
         </div>
            <div class="col-md-3" id="row2">
               <label style="
               margin-top:10px;
               font-weight: bold;">Paramétrage durée prev
               </label>
                  <input type="text" name="" class="eb-input" style="width:350px;" id="ipcmobile">
            </div>
            <div class="col-md-3" id="row2">
              <label style="
              margin-top:10px;
              margin-left:100px;
              font-weight: bold;">Trafication
              </label>
                 <input type="text" name="" class="eb-input" style="margin-left: 100px;" id="ipcmobile">
           </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-3" id="row2">
                <label style="
                margin-top:25px;
               
                font-weight: bold;">VT simple
                </label>
             </div>
            
            <div class="col-md-3" id="row2">
                 <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
           </div>
           <div class="col-md-3" id="row2">
                <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
          </div>
          </div>
        </div>
      
        <div class="container">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-3" id="row2">
                  <label style="
                  margin-top:25px;
                 
                  font-weight: bold;">VT complexe
                  </label>
               </div>
              
              <div class="col-md-3" id="row2">
                   <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
             </div>
             <div class="col-md-3" id="row2">
                  <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
            </div>
            </div>
          </div>
      
          <div class="container">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-md-3" id="row2">
                    <label style="
                    margin-top:25px;
                   
                    font-weight: bold;">Modélisation seul
                    </label>
                 </div>
                
                <div class="col-md-3" id="row2">
                     <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
               </div>
               <div class="col-md-3" id="row2">
                    <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
              </div>
              </div>
            </div>
      
            <div class="container">
              <div class="row">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3" id="row2">
                      <label style="
                      margin-top:25px;
                     
                      font-weight: bold;">NDC seul
                      </label>
                   </div>
                  
                  <div class="col-md-3" id="row2">
                       <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
                 </div>
                 <div class="col-md-3" id="row2">
                      <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
                </div>
                </div>
              </div>
      
              <div class="container">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3" id="row2">
                          <label style="
                          margin-top:25px;
                         
                          font-weight: bold;">APD
                          </label>
                       </div>
                      
                      <div class="col-md-3" id="row2">
                           <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
                     </div>
                     <div class="col-md-3" id="row2">
                          <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
                    </div>
                    </div>
                  </div>
                
      
                <div class="container">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3" id="row2">
                          <label style="
                          margin-top:25px;
                         
                          font-weight: bold;">EDB simple
                          </label>
                       </div>
                      
                      <div class="col-md-3" id="row2">
                           <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
                     </div>
                     <div class="col-md-3" id="row2">
                          <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
                    </div>
                    </div>
                  </div>
      
                  <div class="container">
                    <div class="row">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-3" id="row2">
                            <label style="
                            margin-top:25px;
                           
                            font-weight: bold;">EDB complexe
                            </label>
                         </div>
                        
                        <div class="col-md-3" id="row2">
                             <input type="text" name="" class="eb-input" style="width:350px; margin-top: 20px;" id="ipcmobile">
                       </div>
                       <div class="col-md-3" id="row2">
                            <input type="text" name="" class="eb-input" style="margin-left: 100px; margin-top:20px;" id="ipcmobile">
                      </div>
                      </div>
                    </div>
      <br>
      <!--Type de prestation : -->
      <button class="ajoutbtn" style="
            font-weight: bold;
            width:400px;
            margin-left: 30px;
            margin-top: 40px;">
            Consulter liste des documents
            </button>
      
      <!--==========================
            Espace
          ============================-->
       
              <div class="container" style="padding: 30px 0;">
                
              </div>
        
      <!-- #Espace -->
      <!-- retour au top -->
               <a href="#" class="back-to-top">
                <i class="fa fa-chevron-up"></i>
               </a>
      